In [1]:
#importing liberies
import pandas as pd
import numpy as np

In [2]:
#loading train dataset
df_train = pd.read_csv("train.csv")

In [3]:
df_train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [4]:
#loading test dataset
df_test = pd.read_csv("/Users/users/Downloads/test 2.csv")

In [5]:
df_test.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [6]:
#eda on train dataset
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [7]:
df_train.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
#droping ID form both test and train dataset
df_train = df_train.drop("ID",axis=1)
df_test = df_test.drop("ID",axis=1)

In [9]:
#checking for null values
df_train.isna().sum()

y       0
X0      0
X1      0
X2      0
X3      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 377, dtype: int64

In [10]:
df_test.isna().sum()

X0      0
X1      0
X2      0
X3      0
X4      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 376, dtype: int64

In [11]:
df_train["X349"].unique()   #chccking the unique values for some variables....[0,1] are in from x10 to x85

array([0, 1])

In [12]:
df_train["X0"].unique()

array(['k', 'az', 't', 'al', 'o', 'w', 'j', 'h', 's', 'n', 'ay', 'f', 'x',
       'y', 'aj', 'ak', 'am', 'z', 'q', 'at', 'ap', 'v', 'af', 'a', 'e',
       'ai', 'd', 'aq', 'c', 'aa', 'ba', 'as', 'i', 'r', 'b', 'ax', 'bc',
       'u', 'ad', 'au', 'm', 'l', 'aw', 'ao', 'ac', 'g', 'ab'],
      dtype=object)

In [13]:
df_train["X1"].unique()

array(['v', 't', 'w', 'b', 'r', 'l', 's', 'aa', 'c', 'a', 'e', 'h', 'z',
       'j', 'o', 'u', 'p', 'n', 'i', 'y', 'd', 'f', 'm', 'k', 'g', 'q',
       'ab'], dtype=object)

In [14]:
df_train["X2"].unique()

array(['at', 'av', 'n', 'e', 'as', 'aq', 'r', 'ai', 'ak', 'm', 'a', 'k',
       'ae', 's', 'f', 'd', 'ag', 'ay', 'ac', 'ap', 'g', 'i', 'aw', 'y',
       'b', 'ao', 'al', 'h', 'x', 'au', 't', 'an', 'z', 'ah', 'p', 'am',
       'j', 'q', 'af', 'l', 'aa', 'c', 'o', 'ar'], dtype=object)

In [15]:
df_train["X3"].unique()

array(['a', 'e', 'c', 'f', 'd', 'b', 'g'], dtype=object)

In [16]:
df_train["X4"].unique()

array(['d', 'b', 'c', 'a'], dtype=object)

In [17]:
df_train["X5"].unique()

array(['u', 'y', 'x', 'h', 'g', 'f', 'j', 'i', 'd', 'c', 'af', 'ag', 'ab',
       'ac', 'ad', 'ae', 'ah', 'l', 'k', 'n', 'm', 'p', 'q', 's', 'r',
       'v', 'w', 'o', 'aa'], dtype=object)

In [18]:
df_train["X6"].unique()

array(['j', 'l', 'd', 'h', 'i', 'a', 'g', 'c', 'k', 'e', 'f', 'b'],
      dtype=object)

In [19]:
df_train["X8"].unique()

array(['o', 'x', 'e', 'n', 's', 'a', 'h', 'p', 'm', 'k', 'd', 'i', 'v',
       'j', 'b', 'q', 'w', 'g', 'y', 'l', 'f', 'u', 'r', 't', 'c'],
      dtype=object)

In [20]:
df_train["X10"].unique()

array([0, 1])

In [21]:
#encoding the category variables

In [22]:
#importing label encoder 
from sklearn.preprocessing import LabelEncoder

In [23]:
cols = ["X0","X1","X2","X3","X4","X5","X6","X8"]

In [24]:
#label encodeing of train dataset
df_train[cols] = df_train[cols].apply(LabelEncoder().fit_transform)

In [25]:
df_train.head()

,y,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,130.81,32,23,17,0,3,24,9,14,0,...,0,0,1,0,0,0,0,0,0,0
1,88.53,32,21,19,4,3,28,11,14,0,...,1,0,0,0,0,0,0,0,0,0
2,76.26,20,24,34,2,3,27,9,23,0,...,0,0,0,0,0,0,1,0,0,0
3,80.62,20,21,34,5,3,27,11,4,0,...,0,0,0,0,0,0,0,0,0,0
4,78.02,20,23,34,5,3,12,3,13,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
#label encodeing of test dataset
df_test[cols] = df_test[cols].apply(LabelEncoder().fit_transform)

In [27]:
df_test.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,21,23,34,5,3,26,0,22,0,0,...,0,0,0,1,0,0,0,0,0,0
1,42,3,8,0,3,9,6,24,0,0,...,0,0,1,0,0,0,0,0,0,0
2,21,23,17,5,3,0,9,9,0,0,...,0,0,0,1,0,0,0,0,0,0
3,21,13,34,5,3,31,11,13,0,0,...,0,0,0,1,0,0,0,0,0,0
4,45,20,17,2,3,30,8,12,0,0,...,1,0,0,0,0,0,0,0,0,0

In [28]:
df = df_train[df_test.columns].astype('category')

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 376 entries, X0 to X385
dtypes: category(376)
memory usage: 1.6 MB

In [30]:
#spliting dataset into independent and dependent variables 
x = df_train.drop("y",axis=1)

In [31]:
y = df_train["y"]

In [32]:
#  performing PCA

In [33]:
from sklearn.decomposition import PCA

In [34]:
pca = PCA(n_components=10)

In [35]:
principalComponents = pca.fit_transform(x)

In [36]:
principalDf = pd.DataFrame(data = principalComponents
             , columns = ['principal component 1', 'principal component 2','principal component 3','principal component 4','principal component 5',
                          
                    
                         'principal component 6','principal component 7','principal component 8','principal component 9','principal component 10'])

In [37]:
principalDf.head()

,principal component 1,principal component 2,principal component 3,principal component 4,principal component 5,principal component 6,principal component 7,principal component 8,principal component 9,principal component 10
0,0.614765,-0.133009,15.624460,3.687564,1.359574,-2.691417,3.816741,1.537687,-0.647688,1.737530
1,0.565407,1.560333,17.909581,-0.092902,1.536648,-4.442877,-0.796540,0.812571,-0.789245,-0.136572
2,16.201713,12.292846,17.633540,0.186308,11.850820,-2.155389,0.828190,1.580676,-0.608209,-0.485238
3,16.149998,13.535419,14.898695,-3.140917,-6.832193,-4.290014,-2.225924,2.099091,0.040953,-0.979170
4,16.459103,13.175004,4.403096,7.671151,2.139916,3.763860,-1.954082,2.103655,1.178390,-1.021884

In [38]:
df_train_final  = pd.concat([principalDf,y],axis=1)

In [39]:
df_train_final

,principal component 1,principal component 2,principal component 3,principal component 4,principal component 5,principal component 6,principal component 7,principal component 8,principal component 9,principal component 10,y
0,0.614765,-0.133009,15.624460,3.687564,1.359574,-2.691417,3.816741,1.537687,-0.647688,1.737530,130.81
1,0.565407,1.560333,17.909581,-0.092902,1.536648,-4.442877,-0.796540,0.812571,-0.789245,-0.136572,88.53
2,16.201713,12.292846,17.633540,0.186308,11.850820,-2.155389,0.828190,1.580676,-0.608209,-0.485238,76.26
3,16.149998,13.535419,14.898695,-3.140917,-6.832193,-4.290014,-2.225924,2.099091,0.040953,-0.979170,80.62
4,16.459103,13.175004,4.403096,7.671151,2.139916,3.763860,-1.954082,2.103655,1.178390,-1.021884,78.02
...,...,...,...,...,...,...,...,...,...,...,...
4204,22.161403,-7.184320,-8.659404,10.774860,4.669902,3.527910,1.838673,-1.368407,-0.994466,0.361740,107.39
4205,6.153949,22.828146,-8.314658,10.303221,-3.089276,0.073621,-0.103283,0.723103,0.883484,1.977844,108.77
4206,29.004660,14.860905,-7.753332,11.224415,-5.846985,0.789306,3.399909,-0.252971,0.264558,-1.095629,109.22
4207,22.972422,1.684824,-9.031248,9.749805,9.449557,-4.355228,-2.699530,1.718861,2.240845,0.255005,87.48
4208,-17.283048,-9.951982,-3.719360,18.343096,8.401706,0.509480,1.253388,0.798768,0.805111,0.286912,110.85

In [40]:
df_train_final.describe()

,principal component 1,principal component 2,principal component 3,principal component 4,principal component 5,principal component 6,principal component 7,principal component 8,principal component 9,principal component 10,y
count,4.209000e+03,4.209000e+03,4.209000e+03,4.209000e+03,4.209000e+03,4.209000e+03,4.209000e+03,4.209000e+03,4.209000e+03,4.209000e+03,4209.000000
mean,2.844534e-15,-3.063994e-15,1.916368e-15,-5.236644e-15,1.591082e-16,6.255127e-16,-1.469641e-15,1.754622e-16,-3.525598e-16,-2.077481e-16,100.669318
std,1.428372e+01,1.066916e+01,8.401312e+00,7.933695e+00,6.999717e+00,2.909550e+00,1.990622e+00,1.519288e+00,1.250932e+00,1.134409e+00,12.679381
min,-2.189980e+01,-2.115105e+01,-2.004823e+01,-2.080275e+01,-1.374502e+01,-5.036026e+00,-4.381197e+00,-3.288619e+00,-3.199754e+00,-2.868931e+00,72.110000
25%,-1.175792e+01,-7.326764e+00,-6.648675e+00,-5.928781e+00,-5.799208e+00,-2.170932e+00,-1.924607e+00,-1.497396e+00,-9.840023e-01,-6.406512e-01,90.820000
50%,-3.838910e+00,-2.369087e+00,-2.103289e-01,-2.779870e-01,-4.838895e-01,-3.010052e-01,4.165443e-01,4.010617e-01,-1.633921e-02,-5.078218e-02,99.150000
75%,1.139876e+01,6.970263e+00,6.099994e+00,5.420918e+00,5.962625e+00,1.261250e+00,1.493058e+00,1.182924e+00,7.910106e-01,5.332407e-01,109.010000
max,3.476463e+01,3.013671e+01,2.127763e+01,2.181074e+01,1.450195e+01,7.530676e+00,4.685448e+00,3.446870e+00,3.608290e+00,5.047829e+00,265.320000

In [41]:
principalComponents = pca.fit_transform(df_test)

In [42]:
#transforming the test dataset indepedent variables (pca transformation)
Df_test = pd.DataFrame(data = principalComponents
             , columns = ['principal component 1', 'principal component 2','principal component 3','principal component 4','principal component 5',
                          
                    
                         'principal component 6','principal component 7','principal component 8','principal component 9','principal component 10'])

In [43]:
Df_test.head()

,principal component 1,principal component 2,principal component 3,principal component 4,principal component 5,principal component 6,principal component 7,principal component 8,principal component 9,principal component 10
0,14.583362,14.166725,13.538576,2.408358,11.319422,6.942207,-2.026131,2.533691,-1.082218,0.549634
1,-15.251613,-7.736756,-7.454951,-2.662034,11.593793,1.159404,4.006845,1.839727,0.600320,0.352274
2,11.856465,-1.680173,-9.989615,14.918866,-1.088862,-2.691304,-0.904760,0.736427,-0.079944,0.635928
3,12.606882,13.871583,14.143968,-8.224169,1.683164,-3.704103,-2.549437,2.039042,0.292192,0.400590
4,-11.897597,2.735944,18.424166,5.053374,0.359332,-1.415910,0.831164,-3.044071,1.359948,-0.424789

In [44]:
from sklearn.preprocessing import MinMaxScaler

In [45]:
sc = MinMaxScaler()

In [46]:
#test and train dataset are now transformed and ready for regersion  algo for prediction of y

In [47]:
x1 = df_train_final.drop("y",axis=1)
y1 = df_train_final["y"]

In [48]:
#scaling variables
scx = sc.fit_transform(x1)
xsc = pd.DataFrame(scx,index=x1.index,columns=x1.columns)

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
x_train1,x_test1,y_train1,y_test1 = train_test_split(xsc,y1,test_size=.3,random_state=33)

In [51]:
#importing adaboost (unable to load  xgboost for some system error)
from sklearn.ensemble import RandomForestRegressor

In [52]:
#intialization of AdaBoostRegressor()
rf = RandomForestRegressor()

In [53]:
#model training 
model1 = rf.fit(x_train1,y_train1)

In [54]:
#model testing
pred = model1.predict(x_test1)

In [55]:
from sklearn.metrics import accuracy_score,r2_score,mean_absolute_error,mean_squared_error

In [56]:
#accaccuracy_score of model
r2_score(y_test1,pred)

0.3321821642900957

In [57]:
mean_absolute_error(y_test1,pred)

6.8933069275538426

In [58]:
mean_squared_error(y_test1,pred)

114.05187803313183

In [59]:
#accaccuracy_score is low...it is because pca is done on catogorical variables , lets try without performing pca

In [60]:
df_train.head()

,y,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,130.81,32,23,17,0,3,24,9,14,0,...,0,0,1,0,0,0,0,0,0,0
1,88.53,32,21,19,4,3,28,11,14,0,...,1,0,0,0,0,0,0,0,0,0
2,76.26,20,24,34,2,3,27,9,23,0,...,0,0,0,0,0,0,1,0,0,0
3,80.62,20,21,34,5,3,27,11,4,0,...,0,0,0,0,0,0,0,0,0,0
4,78.02,20,23,34,5,3,12,3,13,0,...,0,0,0,0,0,0,0,0,0,0

In [61]:
x = df_train.drop("y",axis=1)
y = df_train["y"]

In [62]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.3,random_state=93)

In [63]:
model2 = rf.fit(x_train,y_train)

In [64]:
preds = model2.predict(x_test)

In [65]:
r2_score(y_test,preds)

0.42497608108475526

In [66]:
#better preformance than model1

In [67]:
#prediction on test dataset

In [68]:
df_test.head() #for model2

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,21,23,34,5,3,26,0,22,0,0,...,0,0,0,1,0,0,0,0,0,0
1,42,3,8,0,3,9,6,24,0,0,...,0,0,1,0,0,0,0,0,0,0
2,21,23,17,5,3,0,9,9,0,0,...,0,0,0,1,0,0,0,0,0,0
3,21,13,34,5,3,31,11,13,0,0,...,0,0,0,1,0,0,0,0,0,0
4,45,20,17,2,3,30,8,12,0,0,...,1,0,0,0,0,0,0,0,0,0

In [69]:
Df_test.head()

,principal component 1,principal component 2,principal component 3,principal component 4,principal component 5,principal component 6,principal component 7,principal component 8,principal component 9,principal component 10
0,14.583362,14.166725,13.538576,2.408358,11.319422,6.942207,-2.026131,2.533691,-1.082218,0.549634
1,-15.251613,-7.736756,-7.454951,-2.662034,11.593793,1.159404,4.006845,1.839727,0.600320,0.352274
2,11.856465,-1.680173,-9.989615,14.918866,-1.088862,-2.691304,-0.904760,0.736427,-0.079944,0.635928
3,12.606882,13.871583,14.143968,-8.224169,1.683164,-3.704103,-2.549437,2.039042,0.292192,0.400590
4,-11.897597,2.735944,18.424166,5.053374,0.359332,-1.415910,0.831164,-3.044071,1.359948,-0.424789

In [70]:
xc = sc.fit_transform(Df_test)
xtest = pd.DataFrame(xc,index=Df_test.index,columns=Df_test.columns)

In [71]:
xtest.head() #for model1

,principal component 1,principal component 2,principal component 3,principal component 4,principal component 5,principal component 6,principal component 7,principal component 8,principal component 9,principal component 10
0,0.642332,0.687555,0.864060,0.517028,0.906621,0.940118,0.253402,0.835224,0.338815,0.433176
1,0.119769,0.268125,0.283213,0.399862,0.916836,0.498888,0.905382,0.736538,0.573400,0.406630
2,0.594570,0.384103,0.213084,0.806119,0.444621,0.205078,0.374588,0.579641,0.478555,0.444783
3,0.607714,0.681903,0.880810,0.271333,0.547832,0.127801,0.196849,0.764882,0.530440,0.413128
4,0.178515,0.468667,0.999234,0.578149,0.498542,0.302391,0.562188,0.042029,0.679309,0.302108

In [72]:
#as model2 is better than model1
prediction = model2.predict(df_test)

In [73]:
df_test["ypred"] = prediction

In [74]:
df_test.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X376,X377,X378,X379,X380,X382,X383,X384,X385,ypred
0,21,23,34,5,3,26,0,22,0,0,...,0,0,1,0,0,0,0,0,0,79.730833
1,42,3,8,0,3,9,6,24,0,0,...,0,1,0,0,0,0,0,0,0,97.889800
2,21,23,17,5,3,0,9,9,0,0,...,0,0,1,0,0,0,0,0,0,80.331600
3,21,13,34,5,3,31,11,13,0,0,...,0,0,1,0,0,0,0,0,0,78.716247
4,45,20,17,2,3,30,8,12,0,0,...,0,0,0,0,0,0,0,0,0,110.377600

In [75]:
df_predicted = df_test.to_csv()